USE [master]
GO
/****** Object:  Database [CustomerBook]    Script Date: 23.01.2022 14:18:55 ******/
CREATE DATABASE [CustomerBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerBook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustomerBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerBook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustomerBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerBook]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 23.01.2022 14:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](1) NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreDate] [datetime] NULL,
	[CreUserId] [smallint] NULL,
	[PassHash] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerBusiness]    Script Date: 23.01.2022 14:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerBusiness](
	[Email] [nvarchar](100) NOT NULL,
	[Company] [nvarchar](100) NULL,
	[Job] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreDate] [datetime] NULL,
	[CreUserId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerContact]    Script Date: 23.01.2022 14:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContact](
	[Phone] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreDate] [datetime] NULL,
	[CreUserId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.01.2022 14:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ImagePath] [nvarchar](200) NULL,
	[ImageFile] [varbinary](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreDate] [datetime] NULL,
	[CreUserId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Name], [Surname], [Birthday], [Email], [Password], [Phone], [Role], [IsActive], [IsDeleted], [CreDate], [CreUserId], [PassHash]) VALUES (1, N'Metin', N'Aydın', CAST(N'1995-08-20T00:00:00.000' AS DateTime), N'mtnaydn48@gmail.com', NULL, N'05071766734', N'1', NULL, NULL, NULL, NULL, N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[Admin] ([AdminId], [Name], [Surname], [Birthday], [Email], [Password], [Phone], [Role], [IsActive], [IsDeleted], [CreDate], [CreUserId], [PassHash]) VALUES (2, N'Eren', N'Zede', CAST(N'1985-08-24T00:00:00.000' AS DateTime), N'erenzede@gmail.com', NULL, N'05071766734', N'2', NULL, NULL, NULL, NULL, N'15e2b0d3c33891ebb0f1ef609ec419420c20e320ce94c65fbc8c3312448eb225')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[CustomerBusiness] ([Email], [Company], [Job], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'ahmt.gvnn@gmail.com', N'Trendyol', N'Yazılımcı', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerBusiness] ([Email], [Company], [Job], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'alhnshn@gmail.com', N'FarmCity', N'DağıtımElemanı', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerBusiness] ([Email], [Company], [Job], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'asd@gmail.com', N'Deneme_1', N'Bilgisayar', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[CustomerContact] ([Phone], [Adress], [Email], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'05456787849', NULL, N'ahmt.gvnn@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerContact] ([Phone], [Adress], [Email], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'05557895612', NULL, N'alhnshn@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerContact] ([Phone], [Adress], [Email], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (N'05553456789', N'Adres', N'asd@gmail.com', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Email], [ImagePath], [ImageFile], [Description], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (3, N'Ahmet', N'Guven', CAST(N'1985-06-12T00:00:00.000' AS DateTime), N'ahmt.gvnn@gmail.com', N'https://previews.123rf.com/images/fizkes/fizkes1911/fizkes191102567/134439586-headshot-portrait-of-happy-millennial-man-in-casual-clothes-isolated-on-grey-studio-background-posin.jpg', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Email], [ImagePath], [ImageFile], [Description], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (6, N'Alihan', N'Şahin', CAST(N'1992-08-28T00:00:00.000' AS DateTime), N'alhnshn@gmail.com', N'https://st4.depositphotos.com/4157265/39482/i/450/depositphotos_394829404-stock-photo-profile-picture-of-smiling-millennial.jpg', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Birthday], [Email], [ImagePath], [ImageFile], [Description], [IsActive], [IsDeleted], [CreDate], [CreUserId]) VALUES (13, N'Deneme_ad', N'Deneme_soyad', CAST(N'1990-05-12T00:00:00.000' AS DateTime), N'asd@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
USE [master]
GO
